/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');

/*Component design*/
/* Website */
@import url("components/websiteheader.css");
@import url("components/homepagelayout.css");
@import url("components/buttons.css");
@import url("components/titles.css");

/*Fonts & colors*/
body{
  font-family: 'Cabin', sans-serif;
  margin: 0;
  color: #3c4858;/*#252A34;*/
}
h1, h2, h3{
  font-family: 'Paytone One', sans-serif;
  margin-bottom: 0;
}
.container-830{
  max-width: 830px;
  margin: 0px auto;
}
.container-570{
  max-width: 570px;
  margin: 0px auto;
}