#canvas{
	margin-top: 20px;
	background-color: #EFEFEF;
	border-radius: 5px;
    background-image: url(./../images/pitch.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 640px 460px;
}