.title-32{
	padding-top: 50px;
	margin: 0;
	align-items: center;
	text-align: center;
	font-size: 32px;
	font-weight: lighter;
}
.title-17{
	padding-top: 50px;
	text-align: left;
	font-size: 17px;
	font-weight: lighter;
	margin: 0;
}