 .wrapper-bg{
	width: 100%;
	height: 410px;
	margin: 0;
	background: url(../../images/bg-shapes.png) no-repeat;
	background-position: center top;
}
.pinkdot{
	color: $pink;
	font-weight: lighter;
}
.subtagline{
	color: #252A34;
	width: 555px;
	text-align: center;
	margin: 40px auto;
}
.form-newletter{
	display: flex;
	align-items: center;
	width: 400px;
	margin: 0 auto;
	justify-content: space-between;
}
.input-email{
	font-family: 'Cabin', sans-serif;
	width: 250px;
	height: 40px;
	border-radius: 5px;
	font-size: 14px;
	padding-left: 20px;
	border: 1px solid #CCCCCC; /*dbe7f0*/
	/*background-color: #f1f8fc;*/
}
.input-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #EAEAEA;
  font-family: 'Cabin', sans-serif;
  opacity: 1; /* Firefox */
}
.input-email:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #EAEAEA;
}
.input-email::-ms-input-placeholder { /* Microsoft Edge */
  color: #EAEAEA;
}
.wrapper-greygradient{
	width: 100%;
	height: 320px;
	background-image: linear-gradient(#f9f9f9, #FFFFFF);
	margin: 0;
}
.about-detail{
	color: $dark_blue;
	margin-top: 20px;
	text-align: justify;
    text-justify: inter-word;
}
.wrapper-news-section{
	width: 100%;
	height: 270px;
	background-color: rgba(26, 204, 164, .07);
}
.container-660{
	p{
		padding-top: 50px !important;
		margin: 0px auto !important;
	}
	h2{
		margin-top: -50px !important;
	}
}
.news-title{
	position: absolute;
	text-align: left !important;
	width: 350px;
}
.news-image{
	position: relative;
	top: -90px;
	left: 400px;
	width: 260px;
	height: 240px;
	border-radius: 5px;
	background-color: white;
	-webkit-box-shadow: rgba(39, 39, 30, 1) 0px 1px 6px 0px;
	-moz-box-shadow: rgba(39, 39, 30, 1) 0px 1px 6px 0px;
	box-shadow: rgba(39, 39, 30, 1) 0px 1px 6px 0px;
}