<div class="wrapper-bg">
  <div class="container-830">
    <h1 class="title-32">
      Make sport connexions great again<strong class="pinkdot">.</strong>
    </h1>
    <div class="subtagline">
      This @ is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. This is a paragraph text in my new application. 
    </div>
    <form class="form-newletter">
      <input type="text" name="nl_email" placeholder="martin@scout.io" class="input-email">
      <input class="btn-submit" value="Sign up" type="submit">
    </form>
  </div><!-- container-830 -->
</div><!-- wrapper-bg -->

<div class="wrapper-news-section">
  <div class="container-660">
    <p>October 10th, 2018</p>
    <h2 class="title-32 news-title">
      We are thinking sportmen before talking sport<strong class="pinkdot">!</strong>
    </h2>
    <img src="/images/mbappe_face_motion.gif" class="news-image">
  </div><!-- container-660 -->
</div><!-- wrapper-news-section -->

<div class="wrapper-greygradient">
  <div class="container-570">
    <h3 class="title-17">
      About <strong class="pinkdot">.</strong>
    </h3>
    <div class="about-detail">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </div>
  </div><!-- container-570 -->
</div><!-- wrapper-greygradient -->

