<div class="container-920">

	<h2>Tests Javascript</h2>

	<p class="coords">&nbsp;</p>

	<div class="testinglayout">

		<div class="players-container">
			<ul class="players-listing">
				<li class="player-item">Hugo Lloris</li>
				<li class="player-item">Lucas Hernandez</li>
				<li class="player-item">Samuel Umtiti</li>
				<li class="player-item">Raphaël Varane</li>
				<li class="player-item">Benjamin Pavard</li>
				<li class="player-item">N'golo Kanté</li>
				<li class="new-player">+ player</li>
			</ul>
		</div>

		<div class="soccerfield">
		</div>

	</div>

</div><!-- container-830 -->